@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Sixtyfour+Convergence:SCAN,XELA@-53,45&family=Tiny5&display=swap');
/* General Grid Layout */
html , body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";

      font-family: "Tiny5", sans-serif;
      font-weight: 400;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/background.jpg") ;
}

/* Header, Navigation, Footer */
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    text-align: center;
    background-color: #141414;
    color: #F2F2F2;

    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

main{
 grid-area: main;
 width: 90%;
 color:#F2F2F2;
 background-color: transparent;
 

}

nav{
grid-area: nav;
text-align: center;
padding: 5px;
color: #F2F2F2;

}

footer{
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color: #141414;
    color: #C9C9C9;


}

/* Navigation Styling */

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;   
}

nav ul li a{
    background: transparent;
    color: #F2F2F2;
    border: 2px solid #2C2C2C;
    border-radius: 10px;
    cursor: pointer; 
    padding: 12px 24px;
    text-decoration: none;
}

nav ul li a:hover {
  background: #F2F2F2;
  color: #0B0B0B;
  border-color: #F2F2F2;
}

/* Profile Section (Flexbox) */

.grid-container{

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-top: 10px;
}

.profile{

    text-align: center;
    margin-left: 15%;
}

.profile-pic{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;

    border: 2px solid transparent;
    animation: borderColorAnimation 3s infinite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Table Styling */

table{
    width: 100%;
    border-collapse: collapse;
}

th , td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th{
    background-color: #F2F2F2;
    color: #0B0B0B;
}

.courses tr:nth-child(odd){
background: rgb(61, 61, 61);

}

table.course{
    margin-bottom: 20px;
}

.courses tr:hover{
    background: #222222;
}

.courses tr:nth-child(even):hover{
    color: #983333;
    background-color: transparent;
}

/* Form Focus & Required */
input[type='text']:focus, input[type='email']:focus, textarea:focus{
    background: #eef;
}
input:required, textarea:required{
    border: 2px solid #983333;
}

/* Pseudo-element Styling */

.about p:first-of-type::first-letter {
    font-size: 1.5em;
    color: #983333;
    font-weight: bold;
}

#sub_title{
    font-size: small;
}

.l_header{

    float: left;
}

.r_header{
    float: right;
}

.social-media-icon{
    width: 30px;
    height: 30px;
    margin: 5px;
    
}

.social-media-icon:hover{
    width: 35px;
    height: 35px;
   
}

.title{
    border-bottom-color: lightgray;
    border-bottom-style: dotted ;
    border-bottom-width: 3px;
    padding: 10px;

}

a{
    color:gray;
    text-decoration: none;
}

.left-side-menu{
    font-size: large;
    list-style: none;
    padding: 0;
    border-radius: 5px;

}

.left-side-menu li:hover{
    color: #2C2C2C;
    border-radius: 8px;
    cursor: pointer;

}

.left-side-menu li{
    padding-top: 5px;
    padding-bottom: 5px;
}

a:hover{
    color: #983333;  
}

.left-side-menu a{
    margin: 10px;
    color: white;
    background-color: transparent;
}

.left-side-menu a:hover{
    color: #bfbfbf;
    
}

/* Keyframes for border color animation */

@keyframes borderColorAnimation {
    0%{
        border-color: #983333;
    }
    25%{
        border-color: #0B0B0B;
    }
    50%{
        border-color: #C9C9C9;
    }
    75%{
        border-color: #0B0B0B;
    }
    100%{
        border-color: #983333;
    }
    
}

.from-div{
    display: block;
    margin: 10px;
}

.form-control{
    width: 100%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-submit{
    width: 20%;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    background-color: #141414;
    color: #F2F2F2;
    font-family: "Tiny5", sans-serif;

}


.form-submit:hover{
    background-color: #F2F2F2;
    color: #0B0B0B;
}

.form-submit:active{
    background-color: #ccc;
    color: #983333;
}



